* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bd3d3a;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-529919.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
