.landing--wrapper {
  width: 100%;
  height: 100vh;
}

.landing--mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 74, 98, 0.2);
  display: flex;
}

.landing--content {
  color: #ffffff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  margin: auto;
  cursor: default;

  & > h1 {
    font-size: 75px;
    text-align: center;
    margin-top: 20%;

    @media screen and (max-width: 720px) {
      font-size: 50px;
    }

    @media screen and (max-width: 540px) {
      font-size: 34px;
    }
  }

  & > p {
    font-size: 31px;
    text-align: center;
    font-weight: 400;

    @media screen and (max-width: 720px) {
      font-size: 21px;
    }

    @media screen and (max-width: 540px) {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 1000px) {
    margin: 10% auto;
  }
}

.landing--see-more-button {
  text-decoration: none;
  display: block;
  border: 1px solid #fff;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  outline: none;
  margin: auto;
  margin-top: 25%;
  transition: all 0.2s ease-in-out;
  line-height: 50px;
  width: 300px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  @media screen and (max-width: 720px) {
    width: 250px;
    font-size: 13px;
  }

  @media screen and (max-width: 540px) {
    width: 200px;
    font-size: 12px;
  }
}
