.task-new-wrapper {
  width: 100%;
  height: 100vh;
}

.task-new-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 74, 98, 0.2);
  display: flex;
}
